In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Columns: 127 entries, Unnamed: 0 to 1975.2
dtypes: object(127)
memory usage: 196.6+ KB

In [4]:
# first 5 rows of dataset
df.head()

,Unnamed: 0,2016,2016.1,2016.2,2015,2015.1,2015.2,2014,2014.1,2014.2,...,1978.2,1977,1977.1,1977.2,1976,1976.1,1976.2,1975,1975.1,1975.2
0,NaN,"Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...",...,"Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great..."
1,NaN,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,...,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years
2,Country,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female,...,Female,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female
3,Afghanistan,5.5 [3.4-8.1],3.2 [1.3-6.4],7.6 [4.3-12.4],5.2 [3.3-7.7],3.0 [1.3-6.0],7.3 [4.1-11.8],4.9 [3.1-7.3],2.8 [1.2-5.6],7.0 [4.0-11.3],...,0.9 [0.3-2.2],0.6 [0.2-1.2],0.2 [0.0-0.7],0.9 [0.3-2.1],0.5 [0.2-1.1],0.2 [0.0-0.7],0.8 [0.2-2.0],0.5 [0.2-1.1],0.2 [0.0-0.6],0.8 [0.2-2.0]
4,Albania,21.7 [17.0-26.7],21.6 [14.8-29.0],21.8 [15.3-28.9],21.1 [16.6-26.0],20.9 [14.4-28.1],21.3 [15.1-28.1],20.5 [16.2-25.1],20.2 [13.9-27.3],20.8 [14.9-27.4],...,9.1 [4.6-15.5],6.8 [4.0-10.7],4.8 [2.0-9.3],8.9 [4.3-15.4],6.7 [3.8-10.6],4.6 [1.8-9.2],8.8 [4.1-15.4],6.5 [3.6-10.5],4.4 [1.7-9.2],8.6 [3.9-15.4]

In [5]:
# columns in the dataset
df.columns

Index(['Unnamed: 0', '2016', '2016.1', '2016.2', '2015', '2015.1', '2015.2',
       '2014', '2014.1', '2014.2',
       ...
       '1978.2', '1977', '1977.1', '1977.2', '1976', '1976.1', '1976.2',
       '1975', '1975.1', '1975.2'],
      dtype='object', length=127)

In [6]:
df.columns[-5:]  # last 5 columns

Index(['1976.1', '1976.2', '1975', '1975.1', '1975.2'], dtype='object')

Except for the first 3 rows, the columns contain obesity rates from 1975 to 2016.

The first 3 rows do not seem to be inline with the following lines. Let’s check the values in these rows. The unique function returns the unique values in a row or column

In [7]:
# checking unique vals in 1st row
df.iloc[0,:].unique()

array([nan,
       'Prevalence of obesity among adults, BMI &GreaterEqual; 30 (age-standardized estimate) (%)'],
      dtype=object)

In [8]:
# checking unique vals in 2nd row
df.iloc[1,:].unique()

array([nan, '18+  years'], dtype=object)

The first 2 rows seem to define the entire dataset instead of individual columns. There is only one unique value and a NaN value in the first 2 rows so we can drop them.

In [9]:
df.drop([0,1], axis=0, inplace=True) #axis=0 for rows

In [10]:
# check first 3 rows to make sure rows were dropped
df.head(3)

,Unnamed: 0,2016,2016.1,2016.2,2015,2015.1,2015.2,2014,2014.1,2014.2,...,1978.2,1977,1977.1,1977.2,1976,1976.1,1976.2,1975,1975.1,1975.2
2,Country,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female,...,Female,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female
3,Afghanistan,5.5 [3.4-8.1],3.2 [1.3-6.4],7.6 [4.3-12.4],5.2 [3.3-7.7],3.0 [1.3-6.0],7.3 [4.1-11.8],4.9 [3.1-7.3],2.8 [1.2-5.6],7.0 [4.0-11.3],...,0.9 [0.3-2.2],0.6 [0.2-1.2],0.2 [0.0-0.7],0.9 [0.3-2.1],0.5 [0.2-1.1],0.2 [0.0-0.7],0.8 [0.2-2.0],0.5 [0.2-1.1],0.2 [0.0-0.6],0.8 [0.2-2.0]
4,Albania,21.7 [17.0-26.7],21.6 [14.8-29.0],21.8 [15.3-28.9],21.1 [16.6-26.0],20.9 [14.4-28.1],21.3 [15.1-28.1],20.5 [16.2-25.1],20.2 [13.9-27.3],20.8 [14.9-27.4],...,9.1 [4.6-15.5],6.8 [4.0-10.7],4.8 [2.0-9.3],8.9 [4.3-15.4],6.7 [3.8-10.6],4.6 [1.8-9.2],8.8 [4.1-15.4],6.5 [3.6-10.5],4.4 [1.7-9.2],8.6 [3.9-15.4]

There are 3 columns for each year which contain the obesity rate for males, females, and average of the two. Since we can easily obtain the average from the male and female values, it is better to drop the columns that indicate the average value.

In [11]:
# starting from the 1st col select every 3rd column
df.columns[1::3]

Index(['2016', '2015', '2014', '2013', '2012', '2011', '2010', '2009', '2008',
       '2007', '2006', '2005', '2004', '2003', '2002', '2001', '2000', '1999',
       '1998', '1997', '1996', '1995', '1994', '1993', '1992', '1991', '1990',
       '1989', '1988', '1987', '1986', '1985', '1984', '1983', '1982', '1981',
       '1980', '1979', '1978', '1977', '1976', '1975'],
      dtype='object')

In [12]:
df.drop(df.columns[1::3], axis=1, inplace=True)

In [13]:
# checking to see if cols were dropped
df.columns

Index(['Unnamed: 0', '2016.1', '2016.2', '2015.1', '2015.2', '2014.1',
       '2014.2', '2013.1', '2013.2', '2012.1', '2012.2', '2011.1', '2011.2',
       '2010.1', '2010.2', '2009.1', '2009.2', '2008.1', '2008.2', '2007.1',
       '2007.2', '2006.1', '2006.2', '2005.1', '2005.2', '2004.1', '2004.2',
       '2003.1', '2003.2', '2002.1', '2002.2', '2001.1', '2001.2', '2000.1',
       '2000.2', '1999.1', '1999.2', '1998.1', '1998.2', '1997.1', '1997.2',
       '1996.1', '1996.2', '1995.1', '1995.2', '1994.1', '1994.2', '1993.1',
       '1993.2', '1992.1', '1992.2', '1991.1', '1991.2', '1990.1', '1990.2',
       '1989.1', '1989.2', '1988.1', '1988.2', '1987.1', '1987.2', '1986.1',
       '1986.2', '1985.1', '1985.2', '1984.1', '1984.2', '1983.1', '1983.2',
       '1982.1', '1982.2', '1981.1', '1981.2', '1980.1', '1980.2', '1979.1',
       '1979.2', '1978.1', '1978.2', '1977.1', '1977.2', '1976.1', '1976.2',
       '1975.1', '1975.2'],
      dtype='object')

We already know 1 means male and 2 means female. Thus, we can rename the first column as “Country” and drop the first row.

In [14]:
# renaming first col as Country
df.rename(columns={'Unnamed: 0': 'Country'}, inplace=True)

In [15]:
# notice how the first row has an index of 2
# this is due to the first 2 rows we dropped previously
# the first row has an index of 2
df.drop([2], axis=0, inplace=True)

In [16]:
df.head(3)

,Country,2016.1,2016.2,2015.1,2015.2,2014.1,2014.2,2013.1,2013.2,2012.1,...,1979.1,1979.2,1978.1,1978.2,1977.1,1977.2,1976.1,1976.2,1975.1,1975.2
3,Afghanistan,3.2 [1.3-6.4],7.6 [4.3-12.4],3.0 [1.3-6.0],7.3 [4.1-11.8],2.8 [1.2-5.6],7.0 [4.0-11.3],2.7 [1.1-5.3],6.6 [3.8-10.7],2.5 [1.1-5.0],...,0.3 [0.1-0.8],1.0 [0.3-2.3],0.2 [0.1-0.7],0.9 [0.3-2.2],0.2 [0.0-0.7],0.9 [0.3-2.1],0.2 [0.0-0.7],0.8 [0.2-2.0],0.2 [0.0-0.6],0.8 [0.2-2.0]
4,Albania,21.6 [14.8-29.0],21.8 [15.3-28.9],20.9 [14.4-28.1],21.3 [15.1-28.1],20.2 [13.9-27.3],20.8 [14.9-27.4],19.5 [13.4-26.3],20.4 [14.6-26.7],18.8 [13.0-25.4],...,5.2 [2.3-9.6],9.3 [4.8-15.5],5.0 [2.1-9.4],9.1 [4.6-15.5],4.8 [2.0-9.3],8.9 [4.3-15.4],4.6 [1.8-9.2],8.8 [4.1-15.4],4.4 [1.7-9.2],8.6 [3.9-15.4]
5,Algeria,19.9 [13.6-27.1],34.9 [27.6-42.7],19.2 [13.2-26.1],34.2 [27.1-41.7],18.5 [12.7-25.0],33.6 [26.7-40.7],17.8 [12.3-24.1],32.9 [26.4-39.8],17.1 [11.9-23.2],...,3.4 [1.4-6.6],12.2 [6.9-18.9],3.2 [1.3-6.4],11.8 [6.5-18.6],3.1 [1.2-6.2],11.4 [6.2-18.4],2.9 [1.1-6.1],11.1 [5.8-18.2],2.8 [1.0-6.0],10.7 [5.5-18.0]

The dataset is in a wide format. It will easier to analyze in a long format in which the years are represented in one column instead of separate columns

In [17]:
# we use the melt function to tranform it to long format
# we want to put all the years in a col called 'Year'
# we also want to put the numbers in a column with each data point next to their adjacent years
# and call the col 'ObesityRate'
df = df.melt(
   id_vars='Country', var_name='Year', value_name='ObesityRate'
)
df.head()

       Country    Year       ObesityRate
0  Afghanistan  2016.1     3.2 [1.3-6.4]
1      Albania  2016.1  21.6 [14.8-29.0]
2      Algeria  2016.1  19.9 [13.6-27.1]
3      Andorra  2016.1  25.9 [18.0-34.3]
4       Angola  2016.1     4.0 [1.6-7.9]

notice how the index has been reset by the melt function

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16380 entries, 0 to 16379
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Country      16380 non-null  object
 1   Year         16380 non-null  object
 2   ObesityRate  16380 non-null  object
dtypes: object(3)
memory usage: 384.0+ KB

notice how both **Year** and **ObesityRate** are strings when they should be int and datetime. We will take care of that later.

The obesity rate column includes an average value and a value range. We need to separate them and represent with numbers. For instance, we can have three columns which are the **average**, **lower limit**, and **upper limit**.

In [19]:
# take the first num in 'ObesityRate' and put it in a new col called 'AvgObesityRate'
df['AvgObesityRate'] = df.ObesityRate.str.split(' ', expand=True)[0] #Expand=Trye to split strings into separate columns.

In [20]:
df['LowerLimit'] = df.ObesityRate.str.split(' ', expand=True)[1].str.split('-', expand=True)[0].str[1:]

In [21]:
df['UpperLimit'] = df.ObesityRate.str.split(' ', expand=True)[1].str.split('-', expand=True)[1].str[:-1]

We first split the obesity rate column at space character which separates the range from the average value. We then split the range at the “-” character and use indexing to extract the limit values.

In [22]:
# take a random sample to check the result
df.sample()

     Country    Year       ObesityRate AvgObesityRate LowerLimit UpperLimit
3061  Poland  2009.2  20.5 [17.2-23.9]           20.5       17.2       23.9

we no longer need the **ObesityRate** col so we drop it

In [23]:
df.drop('ObesityRate', axis=1, inplace=True)
df.sample()

     Country    Year AvgObesityRate LowerLimit UpperLimit
3059    Peru  2009.2           21.2       17.8       24.9

The final step is to add the gender information. In the current format, the year column represents the gender (1 is male and 2 is female). We can separate the 1s and 2s from the year and replace them accordingly.

In [24]:
# split on the '.' and take the number
# if num =1 replace it with 'Male'
#  if num = 2 replace it with 'Female'
df['Gender'] = df['Year'].str.split('.', expand=True)[1].replace({'1': 'Male', '2': 'Female'})

>Notice how using a dictionary in the replace function makes it possible to replace multiple values at once.

In [25]:
# get rid of the '.' and number behind it
# split on '.' and take the first val(year)
df['Year'] = df['Year'].str.split('.', expand=True)[0]

In [26]:
df.sample()

      Country  Year AvgObesityRate LowerLimit UpperLimit  Gender
7257  Croatia  1998           18.5       14.0       23.7  Female

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16380 entries, 0 to 16379
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country         16380 non-null  object
 1   Year            16380 non-null  object
 2   AvgObesityRate  16380 non-null  object
 3   LowerLimit      16380 non-null  object
 4   UpperLimit      16044 non-null  object
 5   Gender          16380 non-null  object
dtypes: object(6)
memory usage: 767.9+ KB

- **Year** col should be converted to Datetime
- **AvgObesityRate**, **LowerLimit** and **UpperLimit** should be converted to float

let's first check that all these cols are clean before we convert them

In [38]:
df.Year.value_counts()

2015    390
2009    390
1995    390
1987    390
1979    390
2010    390
2002    390
1994    390
1986    390
1978    390
2001    390
2007    390
1993    390
1985    390
1977    390
2016    390
2008    390
2000    390
1992    390
1984    390
2003    390
2011    390
1980    390
1988    390
1999    390
1991    390
1983    390
1975    390
2014    390
2006    390
1998    390
1990    390
1982    390
2013    390
2005    390
1997    390
1989    390
1981    390
2012    390
2004    390
1996    390
1976    390
Name: Year, dtype: int64

this col is clean

In [37]:
df.AvgObesityRate.value_counts()

No      336
0.4     193
0.5     177
0.3     163
0.6     162
       ...
40.2      1
59.6      1
44.6      1
53.3      1
44.7      1
Name: AvgObesityRate, Length: 586, dtype: int64

this col contains 'No's which shoud be converted to NaNs

In [42]:
# replace all 'No's with np.nan
df.AvgObesityRate.replace('No', np.nan, inplace=True)

In [43]:
# checking to make sure col is now clean
df.AvgObesityRate.value_counts()

0.4     193
0.5     177
0.3     163
0.6     162
0.7     152
       ...
60.6      1
42.4      1
44.6      1
59.3      1
44.7      1
Name: AvgObesityRate, Length: 585, dtype: int64

In [39]:
df.UpperLimit.value_counts()

1.2     108
1.0     105
1.3     103
1.4      95
1.5      90
       ...
43.3      1
56.1      1
70.8      1
48.9      1
65.5      1
Name: UpperLimit, Length: 653, dtype: int64

this col is clean

In [41]:
df.LowerLimit.value_counts()

0.1     463
0.2     346
ata     336
0.3     286
0.4     258
       ...
45.0      1
50.2      1
51.8      1
48.7      1
47.4      1
Name: LowerLimit, Length: 506, dtype: int64

**LowerLimit** contains 'No's which should be converted to NaNs

In [47]:
df.LowerLimit.replace('ata', np.nan, inplace=True)

In [48]:
df.AvgObesityRate = pd.to_numeric(df.AvgObesityRate)
df.LowerLimit = pd.to_numeric(df.LowerLimit)
df.UpperLimit = pd.to_numeric(df.UpperLimit)

In [50]:
# convert 'Year' col to datetime
df.Year = pd.to_datetime(df.Year)

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16380 entries, 0 to 16379
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country         16380 non-null  object
 1   Year            16380 non-null  datetime64[ns]
 2   AvgObesityRate  16044 non-null  float64
 3   LowerLimit      16044 non-null  float64
 4   UpperLimit      16044 non-null  float64
 5   Gender          16380 non-null  object
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 767.9+ KB

All Columns are now the correct data types!!